.headerWrp {
  background-color: white;
  padding: 2em 2em;
  width: 60%;
  border-radius: 60px;
  margin: 5px auto;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}
